/*scrollBar*/
::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(206, 203, 203);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5048e5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5048e5;
}
/*scrollBar*/
/***ImageViewer***/
.styles-module_wrapper__1I_qj {
  z-index: 100 !important;
}
.styles-module_image__2hdkJ {
  max-height: 50% !important;
  max-width: 50% !important;
}
/***ImageViewer***/
/***slider staging code*****/
.kCa-dlP {
  margin: 9px !important;
  font-size: 0.8em !important;
  height: 5px !important;
  width: 5px !important;
  box-shadow: 0 0 0px 2px rgb(0 0 0 / 50%) !important;

}
.jYxeHE {
  -webkit-transition: all 200ms ease !important;
  background-color: rgb(80 72 229) !important;
  box-shadow: 0 0 1px 2px rgb(80 72 229) !important;
}

/***slider*****/
/***slider local code*****/
.jhmYzC {

  margin: 9px !important;
  background-color: gray !important;
  font-size: 0.8em !important;
  height: 5px !important;
  width: 5px !important;
  box-shadow: 0 0 0px 2px rgb(0 0 0 / 50%) !important;
}
.krmNah {
  -webkit-transition: all 200ms ease !important;
  background-color: rgb(80 72 229) !important;
  box-shadow: 0 0 1px 2px rgb(80 72 229) !important;

}
/***slider*****/

