/******* rotate*****/
.rotateRefrechComponent {
    margin: auto;
    animation: mymove 2s infinite;
  }
  
  @keyframes mymove {
    100% {transform: rotate(360deg);}
    
  }
  
  .notRotateRefrechComponent{
    margin: auto;
  }
  /******* rotate*****/