.wrapper {
  width: 100%;
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
    }
    .addToken {
      a {
        color: white;
        span {
          margin-right: 2px;
        }
        button {
          font-size: 14px;
          text-transform: uppercase;
          width: 180px;
          border-radius: 5px;
          height: 35px;
          outline: none;
          border: 1px solid transparent;
          background: linear-gradient(
            90deg,
            rgb(158, 31, 221) 0%,
            rgba(43, 52, 228, 1) 100%
          );
          background-size: 101% 100%;
        }
      }
    }
  }
  .divider {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(158, 31, 221, 1) 0%,
      rgba(43, 52, 228, 1) 100%
    );
  }
  .edit {
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background: linear-gradient(
      90deg,
      rgba(158, 31, 221, 1) 0%,
      rgba(43, 52, 228, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    .editIcon {
      font-size: 16px;
    }
  }
}

.editDrawer {
  form {
    .inputDiv {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      label {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 500;
      }
      input {
        outline: none;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        padding: 10px;
        background-color: #2b2b2b;
        column-gap: 10px;
        border: 1px solid transparent;
      }
      textarea {
        resize: none;
        width: 100%;
        height: 150px;
        padding: 10px;
        border-radius: 2px;
        border: 1px solid transparent;
        outline: none;
        background-color: #2b2b2b;
      }
      select {
        width: 100%;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #2b2b2b;
        height: 40px;
        margin-top: 5px;
        margin-bottom: 10px;
        flex-wrap: nowrap;
        padding: 10px;
      }
      //===============>Switchable Toggle Start
      .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
      }
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2b2b2b;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
      .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 5px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
      input:checked + .slider {
        background-color: #177ddc;
      }
      input:focus + .slider {
        //box-shadow: 0 0 1px #00d983;
      }
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        left: -2px;
      }
      /* Rounded sliders */
      .slider.round {
        border-radius: 20px;
      }
      .slider.round:before {
        border-radius: 50%;
      }
      //==============>Switchable Toggle End
    }
    .button {
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 18px;
      text-transform: uppercase;
      width: 100%;
      border-radius: 5px;
      height: 40px;
      outline: none;
      border: 1px solid transparent;
      background: linear-gradient(
        90deg,
        rgb(158, 31, 221) 0%,
        rgba(43, 52, 228, 1) 100%
      );
      background-size: 101% 100%;
    }
    .tooltip {
      font-size: 14px;
      margin-left: 5px;
      cursor: pointer;
    }
    .tooltip:hover {
      color: #4c7bf6;
    }
    .error {
      margin: 10px 0;
      font-style: italic;
      width: 100%;
      text-align: center;
    }
    .success {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 300;
      font-size: 14px;
      width: 100%;
      text-align: center;
      font-style: italic;
      color: #00d983;
    }
  }
}
.addTokenModal {
  .inputDiv {
    label {
      width: 100%;
      font-size: 14px;
      text-transform: uppercase;
    }
    input {
      width: 100%;
      outline: none;
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: #2b2b2b;
      height: 40px;
      margin-top: 5px;
      margin-bottom: 10px;
      flex-wrap: nowrap;
      padding: 10px;
    }
    textarea {
      margin-top: 5px;
      margin-bottom: 10px;
      padding: 10px;
      resize: none;
      width: 100%;
      height: 80px;
      border-radius: 2px;
      border: 1px solid transparent;
      outline: none;
      background-color: #2b2b2b;
    }
  }
}
