.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .divider {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(158, 31, 221, 1) 0%,
      rgba(43, 52, 228, 1) 100%
    );
  }
  .form {
    width: 100%;
    max-width: 768px;
    margin: 0px auto;
    .error {
      // margin-top: 10px;
      // margin-bottom: 10px;
      font-weight: 300;
      font-size: 14px;
      width: 100%;
      text-align: center;
      font-style: italic;
      color: red;
    }
    .label {
      display: block;
      margin-bottom: 5px !important;
      label {
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
      }
      span {
        margin-left: 5px;
        .tooltip {
          font-size: 14px;
        }
        .tooltip:hover {
          color: #4c7bf6;
        }
      }
    }
    input {
      width: 100%;
      outline: none;
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: #2b2b2b;
      height: 40px;
      margin-top: 5px;
      margin-bottom: 10px;
      flex-wrap: nowrap;
      padding: 10px;
    }
    textarea {
      margin-top: 5px;
      margin-bottom: 10px;
      padding: 10px;
      resize: none;
      width: 100%;
      height: 80px;
      border-radius: 2px;
      border: 1px solid transparent;
      outline: none;
      background-color: #2b2b2b;
    }
    .buttonDiv {
      // max-width: 200px;
      display: flex;
      padding-top: 30px;
      justify-content: flex-end;
      button {
        text-transform: uppercase;
        width: 150px;
        border-radius: 5px;
        height: 40px;
        outline: none;
        border: 1px solid transparent;
        background: linear-gradient(
          90deg,
          rgb(158, 31, 221) 0%,
          rgba(43, 52, 228, 1) 100%
        );
        background-size: 101% 100%;
        span {
          margin-right: 2px;
        }
      }
    }
    .uploadDiv {
      margin-bottom: 40px;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 30px;
    }
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #2b2b2b;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 7px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    input:checked + .slider {
      background-color: #177ddc;
    }
    input:focus + .slider {
      //box-shadow: 0 0 1px #00d983;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(28px);
      -ms-transform: translateX(28px);
      transform: translateX(28px);
      left: 4px;
    }
    /* Rounded sliders */
    .slider.round {
      border-radius: 20px;
    }
    .slider.round:before {
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }
  }
}
